body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1f4e79;
    color: white;
}

#course-title {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

nav {
    display: flex;
    background-color: #222;
}

nav a {
    flex: 1;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: #222;
}

main {
    align-items: start;
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.card h2 {
    margin: 0;
    padding: 0.75rem;
    text-align: center;
    background-color: #1f4e79;
    color: white;
}

.card p,
.card ul {
    padding: 1rem;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #285d8f;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;

}

a {
    text-decoration: none;
}

ul li {
    margin: 0.5rem 0;
}

.country-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.country-info img {
    width: 140px;
    height: auto;
}

.country-info p {
    padding: 0;
}

h3 {
    text-align: center;
    margin-top: 0;
}